@font-face {
  font-family: 'IntroRegular', sans-serif;
  src: url("../fonts/IntroRegular.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr-Black', sans-serif;
  src: url("../fonts/HelveticaNeueCyr-Black.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Bold', sans-serif;
  src: url("../fonts/RalewayBold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-ExtraBold', sans-serif;
  src: url("../fonts/RalewayExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Regular', sans-serif;
  src: url("../fonts/RalewayRegular.ttf");
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  min-width: 320px;
  font-size: 16px;
  position: relative;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.grid {
  display: grid;
}

/* Header */
.main-header {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  align-content: center;
}

.main-header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #293A43;
  opacity: 82%;
}

.header-content {
  z-index: 1;
  color: #fff;
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 60px;
  font-family: 'IntroRegular', sans-serif;
  font-weight: 700;
}

.header-buttons {
  margin-top: 40px;
}

.button {
  display: inline-block;
  font-family: 'Raleway-ExtraBold', sans-serif;
  border: none;
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  padding: 10px 50px;
  font-size: 20px;
  font-weight: 800;
  border-radius: 2px;
  text-align: center;
  position: relative;
  outline: none;
  background-color: #F0650D;
  transition: background-color .1s ease;
  cursor: pointer;
}

.button::after {
  transition: backgraund-color .2s ease;
  position: absolute;
  content: '';
  height: 4px;
  bottom: 0;
  width: 100%;
  background-color: #4B5A65;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  left: 0;
}

.button:hover {
  background-color: #F07F38;
}

.button::after {
  opacity: .42;
}

.button:active {
  background-color: #EE7123;
}

.button-gray {
  background-color: #4B5A65;
}

.button-gray:hover {
  background-color: #616F7A;
}

.button-gray::after {
  background-color: #374047;
}

.button-gray:active {
  background-color: #536877;
}

/* Section-1 */
.portfolio-section {
  padding: 7px;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 7px;
}

.portfolio-item {
  min-height: 32vh;
  background-size: cover;
  background-position: center;
  text-align: center;
  align-content: center;
  padding: 20px;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  position: relative;
  transition: color .5s ease;
  cursor: pointer;
}

.portfolio-item:hover {
  color: #FE6A0E;
  opacity: .8;
}

.portfolio-item:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #293A43;
  opacity: 60%;
  transition: opacity .5s ease;
}

.portfolio-text {
  z-index: 1;
}

.portfolio-item:nth-child(1) {
  grid-column: 1 / 3;
}

.portfolio-item:nth-child(5) {
  grid-column: 2 / 4;
}

.portfolio-item:nth-child(6) {
  grid-column: 4;
  grid-row: 2 / 4;
}

.buttoncase {
  justify-content: center;
  grid-column: 1 / 5;
  padding: 5px 120px;
}

/* Section- ready */
.section-ready {
  background-color: #EDEDED;
}

.landing-section {
  padding: 90px 0 100px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
}

.ready-left {
  border-right: 1px solid #95989A;
  padding: 80px 90px 60px 0;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 34px;
  font-weight: 800;
  color: #293A43;
  line-height: 1.2;
}

.ready-text {
  font-family: 'HelveticaNeueCyr-Black', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  padding-top: 20px;
}

.ready-right {
  padding-left: 30px;
}

.ready-img {
  max-width: 100%;
  width: 560px;
  height: auto;
}

.formsection {
  padding: 10px 0;
  background-color: #293A43;
}

form {
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
}

input,
textarea {
  border: none;
  padding: 15px;
  width: 100%;
  font-family: 'HelveticaNeueCyr-Black', sans-serif;
  font-style: italic;
  font-weight: 500;
  outline: none;
  background-color: #3B5764;
  transition: background-color .3s ease;
}

input:focus {
  background-color: #fff;
}

/* Section-blog */
.section-blog {
  padding: 80px 0 100px;
}

.blog-home {
  padding-top: 60px;
  padding-bottom: 5px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}

.blog-item {
  background-color: #F7F7F7;
  text-decoration: none;
  grid-template-rows: 1fr 1fr;
  color: #666;
  overflow: hidden;
  transition: background-color .25s ease;
}

.blog-item-content:hover {
  background-color: #EEECEC;
  color: #222;
}

.blog-item:nth-child(3) {
  grid-column: 3 / 5;
}

.blog-item:nth-child(4) {
  grid-column: 1 / 3;
}

.blog-item-img {
  height: 270px;
  background-size: cover;
  background-position: center;
  transition: transform .25s ease;
}

.blog-item-img:hover {
  transform: scale(1.05) translateY(-8px);
}

.blog-item-content {
  padding: 30px 20px;
  text-align: center;
  align-content: center;
}

h3 {
  padding: 0 35px;
  font-family: 'Raleway-Bold', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
  transition: color .25s ease;
}

.blog-text {
  font-family: 'Raleway-Regular', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  margin-bottom: 0;
}

/* Footer */
.main-footer {
  background-color: #1B2429;
  padding: 60px 0;
  text-align: center;
  color: #4E5355;
}

.footer-logo {
  font-family: 'IntroRegular', sans-serif;
  font-size: 22px;
  line-height: 1.4;
}

.footer-title {
  font-size: 27px;
  color: #707476;
}

.footer-copy {
  margin-top: 18px;
  font-size: 20px;
  font-weight: 700;
  color: #494D50;
}

/* Media */
@media (max-width: 1100px) {
  .section-blog {
    padding: 60px 0;
    text-align: center;
  }

  .blog-home {
    grid-template-columns: repeat(3, 1fr);
  }

  .blog-item:nth-child(3) {
    grid-column: 3 / 4;
  }

  .blog-item:nth-child(4) {
    grid-column: 1 / 2;
  }

  .blog-item-content {
    padding: 10px 20px;
  }
}

@media (max-width: 992px) {
  .blog-home {
    grid-template-columns: repeat(2, 1fr);
  }

  .blog-item:nth-child(3) {
    grid-column: 1 / 2;
  }

  .blog-item:nth-child(4) {
    grid-column: 2 / 3;
  }
}

@media (max-width: 961px) {
  .portfolio-section {
    grid-template-columns: repeat(3, 1fr);
  }

  .portfolio-item {
    min-height: 40vh;
    font-size: 2.2vw;
  }

  .portfolio-item:nth-child(1) {
    grid-column: 1 / 3;
  }

  .portfolio-item:nth-child(2) {
    grid-column: 3 / 4;
  }

  .portfolio-item:nth-child(3) {
    grid-column: 1 / 2;
  }

  .portfolio-item:nth-child(4) {
    grid-column: 2 / 4;
  }

  .portfolio-item:nth-child(5) {
    grid-column: 1 / 3;
    grid-row: initial;
  }

  .portfolio-item:nth-child(6) {
    grid-column: 3 / 4;
    grid-row: initial;
  }

  .portfolio-item:nth-child(7) {
    grid-column: 1 / 2;
  }
}

@media (max-width: 768px) {
  .portfolio-section {
    grid-template-columns: 50% 50%;
  }

  .portfolio-item:nth-child(1) {
    grid-column: 1 / 2;
  }

  .portfolio-item:nth-child(2) {
    grid-column: 2 / 3;
  }

  .portfolio-item:nth-child(3) {
    grid-column: 1 / 3;
  }

  .portfolio-item:nth-child(4) {
    grid-column: 1 / 2;
  }

  .portfolio-item:nth-child(5) {
    grid-column: 2 / 3;
  }

  .portfolio-item:nth-child(6) {
    grid-column: 1 / 3;
  }

  .portfolio-item:nth-child(7) {
    grid-column: 1 / 2;
  }

  .portfolio-item:nth-child(8) {
    grid-column: 2 / 3;
  }

  .portfolio-item:nth-child(9) {
    grid-column: 1 / 3;
  }

  .landing-section {
    padding: 30px 0;
  }

  .section-ready,
  .container {
    grid-template-columns: 1fr;
  }

  .ready-left {
    padding: 0 20px;
    border: none;
    text-align: center;
  }

  h2 {
    font-size: 4.5vw;
  }

  .ready-text {
    padding-top: 0;
    font-size: 2.4vw;
  }

  .ready-right {
    padding: 0 20px;
  }

  form {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 10px;
  }

  .form-button {
    margin: 0;
  }

  .blog-home {
    grid-template-columns: 100%;
  }

  .blog-item:nth-child(2) {
    grid-column: 1 / 2;
  }

  .blog-item:nth-child(4) {
    grid-column: 1 / 2;
  }

  .blog-item:nth-child(6) {
    grid-column: 1 / 2;
  }

  .main-footer {
    padding: 30px 0;
  }

  .footer-logo {
    font-size: 16px;
  }

  .footer-title {
    font-size: 20px;
  }

  .footer-copy {
    margin-top: 8px;
  }
}

@media (max-width: 680px) {
  h1 {
    font-size: 8vw;
  }
}

@media (max-width: 542px) {
  form {
    grid-template-columns: 1fr;
  }

  h3 {
    font-size: 3.7vw;
  }
}

@media (max-width: 480px) {
  .main-header {
    min-height: 90vh;
  }

  h1 {
    font-size: 40px;
  }

  .button-gray {
    margin-top: 15px;
  }

  .buttoncase {
    grid-column: 1 / 2;
  }

  .button {
    font-size: 2.2vw;
  }

  .portfolio-section {
    grid-template-columns: 100%;
  }

  .portfolio-item {
    min-height: 50vh;
  }

  .portfolio-item:nth-child(1) {
    grid-column: 1 / 2;
  }

  .portfolio-item:nth-child(2) {
    grid-column: 1 / 2;
  }

  .portfolio-item:nth-child(3) {
    grid-column: 1 / 2;
  }

  .portfolio-item:nth-child(4) {
    grid-column: 1 / 2;
  }

  .portfolio-item:nth-child(5) {
    grid-column: 1 / 2;
  }

  .portfolio-item:nth-child(6) {
    grid-column: 1 / 2;
  }

  .portfolio-item:nth-child(7) {
    grid-column: 1 / 2;
  }

  .portfolio-item:nth-child(8) {
    grid-column: 1 / 2;
  }

  .portfolio-item:nth-child(9) {
    grid-column: 1 / 2;
  }

  .section-blog {
    padding: 35px 0;
  }

  .blog-home {
    padding-top: 35px;
  }

  .blog-item-content {
    padding: 0 20px;
  }

  .blog-text {
    font-size: 3.2vw;
  }
}